@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --background: 0 0% 98%;    /* #fafafa */
    --foreground: 240 10% 15%; /* #222225 */
    --border: 240 6% 90%;      /* #e4e4e7 */
    --card: 0 0% 100%;         /* #ffffff */
  }

  body {
    /* 彻底清理掉 background-image 静态底纹 */
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    -webkit-font-smoothing: antialiased;
  }
}